
# 🧮 Demo NumPy – Carnet 2 (version étudiante)
## Manipulation et filtrage de données
Ce carnet te permettra de pratiquer :
- la gestion des valeurs manquantes (`np.nan`),
- le découpage (slicing) de tableaux,
- le filtrage de données avec masques booléens et `np.where()`.


## 1. Gestion des valeurs manquantes (`np.nan`)
En sciences, certaines mesures peuvent être manquantes.  
Dans NumPy, on utilise `np.nan` pour représenter une valeur manquante.

In [ ]:

import numpy as np

# Exemple avec une valeur manquante
mesures = np.array([32.0, np.nan, 37.2, 35.5])
print("Tableau :", mesures)

# Moyenne sans valeur manquante
moy = np.nanmean(mesures)
print(f"Moyenne (sans valeurs manquantes) : {moy:.2f} °C")


💡 **Astuce :**  
- `np.nanmean()` ignore les valeurs `np.nan`.  
- Il existe aussi `np.nanmedian()`, `np.nanstd()`, etc.

In [ ]:

# 🔧 À toi de jouer :
# Calcule la médiane et l'écart-type en ignorant les valeurs manquantes.

# Ton code ici ↓


## 2. Découpage de tableaux (slicing)
Le découpage permet d’accéder à une partie d’un tableau.  
Syntaxe : `tableau[start:end]`  
Exemple : `a[1:4]` → éléments 1, 2, 3

In [ ]:

a = np.array([10, 20, 30, 40, 50, 60])
print("Tableau :", a)
print("De l’indice 1 à 4 :", a[1:4])
print("Les trois derniers éléments :", a[-3:])

In [ ]:

# 🧠 Exercice : extrais du tableau suivant les valeurs du 2e au 5e élément inclus.

b = np.array([2, 4, 6, 8, 10, 12, 14])

# Ton code ici ↓


## 3. Filtrage de données (masques booléens)
Un **masque booléen** permet de sélectionner les valeurs qui respectent une condition.

In [ ]:

temp = np.array([18.5, 21.0, 25.3, 19.8, 27.2])
print("Températures :", temp)

# Créer un masque pour les valeurs supérieures à 20°C
masque = temp > 20
print("Masque :", masque)

# Appliquer le masque
print("Valeurs filtrées :", temp[masque])

In [ ]:

# 🔍 Exercice : crée un masque pour afficher uniquement les valeurs inférieures à 25°C

# Ton code ici ↓


## 4. Comptage conditionnel
On peut compter le nombre de valeurs respectant une condition avec `np.sum()` sur un masque booléen.

In [ ]:

masque_chaud = temp > 25
nb_chaud = np.sum(masque_chaud)
print(f"Nombre de jours > 25°C : {nb_chaud}")

In [ ]:

# 🧮 Exercice : compte le nombre de jours où la température est entre 18°C et 24°C inclusivement.

# Ton code ici ↓


## 5. Filtrage avec `np.where()`
`np.where()` permet d’appliquer une **condition** et de choisir une **valeur alternative**.

In [ ]:

# Exemple : remplacer les valeurs supérieures à 25 par 25
temp_limitee = np.where(temp > 25, 25, temp)
print("Températures originales :", temp)
print("Températures limitées à 25°C :", temp_limitee)

In [ ]:

# 🧩 Exercice :
# Remplace les valeurs inférieures à 20°C par 20°C dans le tableau temp.

# Ton code ici ↓